body {
	background-color: #c9cfd6;
}

table {
	border-spacing: 0px;
	position: absolute;
	top: 0px;
	right: 50px;
	table-layout: fixed;
}
th, td {
	border: 1px solid black;
	width: calc(100%/9);
	height: calc(100%/9);
	background-repeat: no-repeat;
}

img {
	width: 70px;
	height: 70px;

}

#resetbutton {
	position: absolute;
	bottom: 0px;
	left: 0px;
	font-weight: bold;
	height: 5%;
	width: 5%;
	background-color: red;

}