body {
	background-color: #ffffee;
}

#rules {
	font-size: 15pt;
	text-align: justify;
	margin-right: 25vw;
}

table {
	border-spacing: 0px;
	position: absolute;
	top: 0px;
	right: 30px;
	height: 45vw;
	width: 45vw;
	table-layout: fixed;
}
th, td {
	border: 1px solid blue;
	width: calc(100%/9);
	height: calc(100%/9);
	background-repeat: no-repeat;
}

img {
	width: 4vw;
	height: 4vw;

}

#resetbutton {
	position: fixed;
	bottom: 0px;
	left: 100px;
	font-weight: bold;
	height: 50px;
	width: 100px;
	background-color: red;

}

#copytable {
	position: fixed;
	bottom: 0px;
	left: 0px;
	height: 50px;
	width: 100px;
	font-weight: bold;
	background-color: lightblue;
}